<div class="video-frame">
    <!-- <video src="../../../../assets/videos/escape.mp4" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video> -->
    <!-- <video src="../../../../assets/videos/escape.mp4"></video> -->
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
        src="{{currentVideo?.videoURL}}"></video>
    <div class="shadow" [ngClass]="{'fade': fadeActive}"></div>

</div>
<div class="video-overlay">
    <div class="overlay-container" [ngClass]="{'slide': fadeActive}">
        <h1>{{currentVideo?.title}}</h1>
        <p>{{currentVideo?.description}}</p>
        <app-play-button></app-play-button>

    </div>
</div>