<div class="video-frame">
    <!-- <video src="../../../../assets/videos/escape.mp4" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video> -->
    <!-- <video src="../../../../assets/videos/escape.mp4"></video> -->
    <video #video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
        src="{{currentVideoSrc}}"></video>
    <div class="shadow" [ngClass]="{'fade': fadeActive}"></div>

</div>
<div class="video-overlay">
    <div class="overlay-container" [ngClass]="{'slide': fadeActive}">
        <h1>{{currentVideo?.title}}</h1>

        <app-stars-ranking [size]="25"  [videoRanking]="currentVideo?.ranking"></app-stars-ranking>
        <div class="info">

            FSK: {{currentVideo?.rating}} | Duration: {{this.getDuration(currentVideo?.duration!)}}
        </div>

        <p>{{currentVideo?.description}}</p>
        <app-play-button></app-play-button>

    </div>
    <button class="fit-content" (click)="this.videoService.slideMobileVideo.set(false)">Back to Overview</button>
</div>