:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-image: url('../../../../assets/images/startpage_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-shadow {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 1));
}

.content {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 48px;
        margin-bottom: 24px;
    }

    p {
        margin-top: 0;
        font-size: 18px;
    }
}

.login-form {
    height: 48px;
    display: flex;
    flex-direction: row;

    form {
        gap: 16px;

        display: flex;

        button {
            background-color: #2E3EDF;
            font-size: 18px;
            border-radius: 40px;
            width: 142px;
            color: white;
        }
    }

    .input-frame {
        display: flex;
        align-items: center;
        height: 100%;
        width: 360px;
        padding: 12px 24px;
        border: 1px solid white;
        border-radius: 40px;

        input {
            border: none;
            width: 100%;
            height: 30px;
            font-size: 18px;
            background-color: transparent;
            color: white;

            &:focus,
            &:active {
                color: white;
                outline: none;
                background-color: transparent;
            }
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

// app-header {
//     max-width: calc(var(--content-max-width) + calc(2 * 96px));
//     padding-inline: 96px;
//     margin: auto;
// }