
<app-header class="pos-abs"></app-header>
<div class="background-shadow">
    <div class="content pos-rel">
        <h1>Movies, TV shows, and more</h1>
        <p>Enter your email to create or restart your subscription.</p>
        <div class="login-form">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="input-frame">

                    <input placeholder="Email Address" id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" formControlName="email">
                </div>
                <button type="submit" >Sign up</button>
                <!-- [disabled]="!profileForm.valid" -->
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>