:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: var(--content-max-width);
    margin: auto;
    background-color: var(--clr-bg-black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 96px;
    overflow: hidden;

    @media (max-width: 1000px) {
        padding-inline: 49px;
    }

    @media (max-width: 555px) {
        padding-inline: 16px;
    }
}

app-header {
    z-index: 50;
    padding-inline: 0;
}

.mobile-header {
    margin-top: 0;
    margin-bottom: 40px;
}

.background-shadow {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.8));
}



.main-content {
    margin-top: 20px;
    width: 100%;
    flex: 1;
    z-index: 40;
    transform: translateY(-125px);
    max-width: var(--content-max-width);
}

.mobile-main {
    transform: none;
    // padding-left: 16px;
    margin-top: 150px;
}

app-footer {
    position: relative;
}

.mobile-content {
    display: grid;
    grid-template-columns: 100vw 100vw;
    grid-template-rows: minmax(90vh, max-content);
    transform: translateX(0%);
    margin-left: -16px;
    transition: transform 1s ease-in-out;
}

.mobile-transform {
   
    transform: translateX(-100vw);
}

.mobile-header{
    padding-inline: 16px;
}
