<app-header></app-header>
<!-- <div class="background-shadow">

  
</div> -->
<app-teaser [video]="videoData[videoIndex]"></app-teaser>


<div class="main-content flex column">

    <app-thumbnail-slider [genre]="'New on Videoflix'" [parentSize]="contentSize"></app-thumbnail-slider>
    <app-thumbnail-slider [genre]="'Action'" [parentSize]="contentSize"></app-thumbnail-slider>
    <app-thumbnail-slider [genre]="'Drama'" [parentSize]="contentSize"></app-thumbnail-slider>

</div>


<app-footer></app-footer>