<app-header></app-header>
<!-- <div class="background-shadow">

  
</div> -->

<div class="video-frame">
    <!-- <video src="../../../../assets/videos/escape.mp4" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video> -->
    <video src="../../../../assets/videos/escape.mp4"></video>

    <div class="video-overlay">
        <div class="overlay-container">

            <h1>Breakout</h1>
            <p>In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove
                his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the
                truth.</p>
        </div>
    </div>
</div>


<app-footer></app-footer>