<app-header class="pos-abs"></app-header>
<div class="background-shadow">
    @if (!emailSent) {
    <div class="dialog-card">
        <div class="headline c-text">
            Forgot your password?
        </div>
        <p class="c-text">We will send you an email with instructions to reset your password.</p>
        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
            <div class="dialog-input-frame">

                <input placeholder="Email Address" id="email" type="email"
                     formControlName="email" autocomplete="email">
            </div>
            <button class="mg-top-0" [ngClass]="{'btn-disabled': !emailForm.valid}" type="submit"
                [disabled]="!emailForm.valid">Send
                Email</button>
        </form>

    </div>
    }
    @else {
    <div class="dialog-card">
        <div class="headline c-text">
            Email was sent successfully
        </div>
        <p class="c-text">Please check your email inbox and follow the instructions to reset your password</p>
    </div>
    }

</div>

<app-footer></app-footer>