<div class="main-thumbnail-container pos-rel">
    <h2>{{genre()}}</h2>
    <div #container [ngStyle]="{'transform': 'translateX(' + slider.position + 'px)', 'gap' : offsetGap + 'px'}"
        class="thumbnail-slider">

        @for (video of videos(); track $index; let index = $index) {


        <div class="thumbnail-container pos-rel">
            <img #thumbnail class="thumbnail-img" src="{{video.image_url}}" [ngClass]="{'selected': selected == index}" alt="">

            <div (click)="selectVideo(index)" class="thumbnail-preview pos-abs" [ngClass]="{'selected': selected == index}">
                <img src="{{video.image_url}}" alt="">

                <div class="c-sub flex column">

                    <div class="info d-flex-row gap-12">
                        <div class="rect">6</div>
                        20s
                        <div class="rect">HD</div>
                    </div>
                </div>
            </div>
        </div>



        }

    </div>
    <div (click)="slideLeft()" [ngClass]="{'d-none': !slider.allowLeft}" class="arrow-left">
        <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="white">
            <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
        </svg>
    </div>
    <div (click)="slideRight()" [ngStyle]="{'left': parentSize()! - 96 - 50 +'px'}"
        [ngClass]="{'d-none': !slider.allowRight}" class="arrow-right">
        <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="white">
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
        </svg>
    </div>
</div>