<div class="main-thumbnail-container pos-rel">
    <h2>{{genre()}}</h2>
    <div #container [ngStyle]="{'transform': 'translateX(' + slider.position + 'px)', 'gap' : offsetGap + 'px'}"
        class="thumbnail-slider">

        @for (video of videos(); track $index; let index = $index) {


        <div class="thumbnail-container pos-rel">
            <div class="pos-rel">
                <img #thumbnail class="thumbnail-img" src="{{video.image_url}}"
                    [ngClass]="{'selected': selected == index}" alt="">
                <div class="title pos-abs">{{video.title}}</div>
            </div>


            <div (click)="selectVideo(video.id)" class="thumbnail-preview pos-abs"
                [ngClass]="{'selected': selected == index}">
                <img src="{{video.image_url}}" alt="">

                <div class="c-sub flex column">
                    <div>
                        {{video.title}}
                    </div>


                    <div>
                        <app-stars-ranking [size]="15" [videoRanking]="video.ranking"></app-stars-ranking>
                    </div>
                </div>
            </div>
        </div>



        }

    </div>
    <div (click)="slideLeft()" [ngClass]="{'d-none': !slider.allowLeft}" class="arrow-left">
        <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="white">
            <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
        </svg>
    </div>
    <!-- [ngStyle]="{'left': parentSize()! - 96 - 50 +'px'}" -->
    <div (click)="slideRight()" [ngStyle]="{'right': - 50 +'px'}" [ngClass]="{'d-none': !slider.allowRight}"
        class="arrow-right">
        <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="white">
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
        </svg>
    </div>
</div>