<div class="main-thumbnail-container pos-rel">
    <h2>{{genre()}}</h2>
    <div class="thumbnail-slider">
        @for (video of videos(); track $index; let index = $index) {
        <div class="thumbnail-container pos-rel">
            <div class="pos-rel">
                <img (click)="selectVideo(video.id)" class="thumbnail-img" src="{{video.image_url}}"
                    [ngClass]="{'selected': selected == index}" alt="">
                <div class="title pos-abs">{{video.title}}</div>
            </div>
        </div>
        }
    </div>
</div>